.env
.github/
docs/
.renovate.json
target/
Cargo.lock
Cargo.toml
*.so
*.dll
*.dylib
requirements.txt
app.py
lib.rs
main.cpp
CMakeLists.txt
version.h.in
node_modules/
packge-lock.json
.vscode/
renovate.json
setup.py
app.py
setup.sh
http-run.md
rust.yml
c-ccp.yml
python-packge.yml
cxx_bridge.rs
