.env
.github/
docs/
.renovate.json
target/
Cargo.lock
Cargo.toml
*.so
*.dll
*.dylib
requirements.txt
app.py
lib.rs
main.cpp
http-c+/CMakeLists.tx/
node_modules/
packge-lock.json
.vscode/settings.json/
.vscode/launch.json7
.vscode/c_cpp_properties.json/